@using CountriesAndCities.Services.DTOs.AuthDTOs
﻿
@model RequestAuthDTO
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="row">
        <div class="column">
            <form asp-controller="Auth" asp-action="Login" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6 col-xl-6 tm-col-email">
                        <label asp-for="Email" class="form-label" style="color:black">Email:</label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6 col-xl-6 tm-col-email">
                        <label asp-for="Password" class="form-label" style="color:black">Password:</label>
                        <input asp-for="Password" class="form-control" />
                    </div>
                </div>
                <div>
                    <input type="submit" value="Login" style="color:snow; font-weight:600" class="btn btn-primary tm-btn-submit" />
                    <a asp-controller = "Home" asp-action="Index" style="color:snow; font-weight:600" class="btn btn-primary tm-btn-submit">Back</a>
                </div>
                <div class="row">
                    <div>
                        <a asp-controller = "Auth" asp-action="Register">No account? Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .column {
        float: left;
        width: 50%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
